<section>
                          <div class="xskin-make-your-case">
                            <div class="xskin-panel left">
                            <ul class="tabs" data-tab>
                                <li class="tab-title active"><a href="#panel1">1. Products</a></li>
                                <li class="tab-title"><a href="#panel2">2. Photos</a></li>
                                <li class="tab-title"><a href="#panel3">3. Filter</a></li>
                              </ul>
                              <div class="tabs-content">
                                <div class="content active" id="panel1">

                                <!-- Tabs start from here -->
                                <div class="xskin-make-your-case-products-tabs">
                                  <ul class="tabs" data-tab role="tablist">
                                    <li class="tab-title active" role="presentation"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1">
                                    <p><%=image_tag"icon_make_device.png" %></p>Device <p><i class="fa fa-angle-down"></i></p></a></li>
                                    <li class="tab-title" role="presentation"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2"><p><%=image_tag"icon_make_case.png" %></p>Case <p><i class="fa fa-angle-down"></i></p></a></li>
                                    <li class="tab-title" role="presentation"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-3"><p><%=image_tag"icon_make_layout.png" %></p>Layout <p><i class="fa fa-angle-down"></i></p></a></li>
                                  </ul>
                                  <div class="tabs-content">
                                    <section role="tabpanel" aria-hidden="false" class="content  active" id="panel2-1">
                                      <!-- Accordion start from here -->
                                <ul class="accordion" data-accordion role="tablist">
                                <li class="accordion-navigation">
                                  <a href="#panel1d" role="tab" id="panel1d-heading" aria-controls="panel1d">iPhone <span class="right"><i class="fa fa-angle-right"></i></span></a>
                                  <div id="panel1d" class="content active" role="tabpanel" aria-labelledby="panel1d-heading">
                                    <ul class="product-list">
                                      <li><a href="#">iPhone 6 Plus</a></li>
                                      <li><a href="#">iPhone 6</a></li>
                                      <li><a href="#">iPhone 5S</a></li>
                                      <li><a href="#">iPhone 5</a></li>
                                      <li><a href="#">iPhone 4</a></li>
                                    </ul>
                                  </div>
                                </li>
                                <li class="accordion-navigation">
                                  <a href="#panel2d"  role="tab" id="panel2d-heading" aria-controls="panel2d">Andriod <span class="right"><i class="fa fa-angle-right"></i></span></a>
                                  <div id="panel2d" class="content" role="tabpanel" aria-labelledby="panel2d-heading">
                                    <ul class="product-list">
                                      <li><a href="#">galaxy s5 case</a></li>
                                      <li><a href="#">galaxy s4 case</a></li>
                                      <li><a href="#">galaxy s3 case</a></li>
                                      <li><a href="#">ipad 3/4 case</a></li>
                                    </ul>
                                  </div>
                                </li>
                                <li class="accordion-navigation">
                                  <a href="#panel4d" role="tab" id="panel3d-heading" aria-controls="panel3d">iPad <span class="right"><i class="fa fa-angle-right"></i></span></a>
                                  <div id="panel4d" class="content" role="tabpanel" aria-labelledby="panel3d-heading">
                                    <ul class="product-list">
                                      <li><a href="#">iPhone 6 Plus</a></li>
                                      <li><a href="#">iPhone 6</a></li>
                                      <li><a href="#">iPhone 5S</a></li>
                                      <li><a href="#">iPhone 5</a></li>
                                      <li><a href="#">iPhone 4</a></li>
                                    </ul>
                                  </div>
                                </li>
                                <li class="accordion-navigation">
                                  <a href="#panel5d" role="tab" id="panel3d-heading" aria-controls="panel3d">Tablet <span class="right"><i class="fa fa-angle-right"></i></span></a>
                                  <div id="panel5d" class="content" role="tabpanel" aria-labelledby="panel3d-heading">
                                    <ul class="product-list">
                                      <li><a href="#">iPhone 6 Plus</a></li>
                                      <li><a href="#">iPhone 6</a></li>
                                      <li><a href="#">iPhone 5S</a></li>
                                      <li><a href="#">iPhone 5</a></li>
                                      <li><a href="#">iPhone 4</a></li>
                                    </ul>
                                  </div>
                                </li>
                                <li class="accordion-navigation">
                                  <a href="#panel6d" role="tab" id="panel3d-heading" aria-controls="panel3d">Macbook <span class="right"><i class="fa fa-angle-right"></i></span></a>
                                  <div id="panel6d" class="content" role="tabpanel" aria-labelledby="panel3d-heading">
                                    <ul class="product-list">
                                      <li><a href="#">iPhone 6 Plus</a></li>
                                      <li><a href="#">iPhone 6</a></li>
                                      <li><a href="#">iPhone 5S</a></li>
                                      <li><a href="#">iPhone 5</a></li>
                                      <li><a href="#">iPhone 4</a></li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                              <!-- Accordion close from here -->
                                    </section>
                                    <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
                                      <ul class="multiple-case">
                                        <li>
                                          <div class="small-5 left text-center">
                                            <%=image_tag"case01.png" %>
                                          </div>
                                          <div class="small-7 left">
                                            <h4>Bumper Case</h4>
                                            <sapn class="your-case-color">Black</sapn>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="small-5 left text-center">
                                            <%=image_tag"case02.png" %>
                                          </div>
                                          <div class="small-7 left">
                                            <h4>Classic Snap</h4>
                                            <sapn class="your-case-color">Frosty White</sapn>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="small-5 left text-center">
                                            <%=image_tag"case03.png" %>
                                          </div>
                                          <div class="small-7 left">
                                            <h4>Wood Case</h4>
                                            <sapn class="your-case-color">Maple-wood Crafted Case</sapn>
                                          </div>
                                        </li>
                                      </ul>
                                    </section>
                                    <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
                                      <ul class="xskin-case-layout">
                                        <li><a href="#"><%=image_tag"make_layout01.png" %></a></li>
                                        <li><a href="#"><%=image_tag"make_layout02.png" %></a></li>
                                        <li><a href="#"><%=image_tag"make_layout03.png" %></a></li>
                                        <li><a href="#"><%=image_tag"make_layout04.png" %></a></li>
                                        <li><a href="#"><%=image_tag"make_layout05.png" %></a></li>
                                        <li><a href="#"><%=image_tag"make_layout06.png" %></a></li>
                                        <li><a href="#"><%=image_tag"make_layout07.png" %></a></li>
                                        <li><a href="#"><%=image_tag"make_layout08.png" %></a></li>
                                        <li><a href="#"><%=image_tag"make_layout09.png" %></a></li>
                                      </ul>
                                    </section>
                                  </div>
                                <!-- Tabs close from here -->
                                </div>


                                </div>
                                <div class="content" id="panel2">
                                  
                                  <div class="xskin-make-your-case-products-tabs upload-your-case-pic">
                                  <ul role="tablist" data-tab="" class="tabs">
                                    <li role="presentation" class="tab-title active"><a aria-controls="panel2-1" aria-selected="true" tabindex="0" role="tab" href="#panel2-1">
                                    <p><i class="fa fa-instagram"></i></p>Instagram <p><i class="fa fa-angle-down"></i></p></a></li>
                                    <li role="presentation" class="tab-title"><a aria-controls="panel2-2" aria-selected="false" tabindex="0" role="tab" href="#panel2-2"><p><i class="fa fa-facebook"></i></p>Facebook <p><i class="fa fa-angle-down"></i></p></a></li>
                                    <li role="presentation" class="tab-title"><a aria-controls="panel2-3" aria-selected="false" tabindex="0" role="tab" href="#panel2-3"><p><i class="fa fa-upload"></i></p>Upload <p><i class="fa fa-angle-down"></i></p></a></li>
                                    <li role="presentation" class="tab-title"><a aria-controls="panel2-4" aria-selected="false" tabindex="0" role="tab" href="#panel2-4"><p><%=image_tag"stamp.png" %></p>Stamp <p><i class="fa fa-angle-down"></i></p></a></li>
                                  </ul>
                                  <div class="tabs-content">
                                    <section id="panel2-1" class="content  active" aria-hidden="false" role="tabpanel">
                                      
                                      <div class="connect-with-social-media">
                                        <h2>Connect to Instagram!</h2>
                                        <span class="your-case-color">Connect to your Instagram account to customize your case.</span>
                                        <div class="social-connect-button">
                                          <a href="#"><i class="fa fa-instagram"></i>Instagram</a>
                                        </div>
                                      </div>

                                    </section>
                                    <section id="panel2-2" class="content" aria-hidden="true" role="tabpanel">
                                      <div class="connect-with-social-media">
                                        <h2>Connect to Facebook!</h2>
                                        <span class="your-case-color">Connect to your Facebook account to customize your case.</span>
                                        <div class="social-connect-button facebook">
                                          <a href="#"><i class="fa fa-facebook"></i>Facebook</a>
                                        </div>
                                      </div>
                                    </section>
                                    <section id="panel2-3" class="content" aria-hidden="true" role="tabpanel">
                                      <div class="upload-pic text-center">
                                      <p>Drop your pictures here!</p>
                                        <input type="file" alt="" />
                                      </div>
                                      <ul class="your-upload-pic">
                                        <li><%=image_tag"your-upload-pic.jpg" %></li>
                                        <li><%=image_tag"your-upload-pic.jpg" %></li>
                                        <li><%=image_tag"your-upload-pic.jpg" %></li>
                                        <li><%=image_tag"your-upload-pic.jpg" %></li>
                                        <li><%=image_tag"your-upload-pic.jpg" %></li>
                                        <li><%=image_tag"your-upload-pic.jpg" %></li>
                                      </ul>
                                    </section>
                                    <section id="panel2-4" class="content" aria-hidden="true" role="tabpanel">
                                      <ul class="your-upload-pic pic-library">
                                        <li><%=image_tag"your-upload-pic.jpg" %>
                                        <p class="your-case-color">Library 01</p></li>
                                        <li><%=image_tag"make01.jpg" %>
                                        <p class="your-case-color">Library 02</p></li></li>
                                        <li><%=image_tag"make01.jpg" %>
                                        <p class="your-case-color">Library 03</p></li>
                                        </li>
                                        <li><%=image_tag"make01.jpg" %>
                                        <p class="your-case-color">Library 04</p></li></li>
                                        <li><%=image_tag"make01.jpg" %>
                                        <p class="your-case-color">Library 05</p></li>
                                        </li>
                                        <li><%=image_tag"make01.jpg" %>
                                        <p class="your-case-color">Library 06</p></li>
                                        </li>
                                      </ul>
                                    </section>
                                  </div>
                                <!-- Tabs close from here -->
                                </div>

                                </div>
                                <div class="content" id="panel3">
                                   <div class="content" id="panel2">
                                  <ul class="xskin-your-own-case">
                                  <li class="filter-your-product text-center">
                                  <%=image_tag"icon_make_filter.png" %>
                                    <sapn class="your-case-color">Filter</sapn>
                                    <div class="fliter-icon"><i class="fa fa-angle-down"></i></div>
                                  </li>
                                    <li class="selected"><a href="#"><i class="fa fa-check"></i> none</a></li>
                                    <li><a href="#">grayscale</a></li>
                                    <li><a href="#">gotham</a></li>
                                    <li><a href="#">lomo</a></li>
                                    <li><a href="#">sepia</a></li>
                                    <li><a href="#">west</a></li>
                                    <li><a href="#">roland</a></li>
                                    <li><a href="#">roma</a></li>
                                    <li><a href="#">georgia</a></li>
                                  </ul>
                                </div>
                                </div>
                              </div> 
                              <div class="clearfix"></div>
                              <div class="xskin-save-design">
                                <a href="#">save design</a>
                              </div>
                          </div>
                          <!-- left panel close from here -->

                          <div class="xskin-your-design left text-center">
                            <div class="large-10 small-12 left">
                              <%= image_tag"iphone-back-design.png" %>
                                
                                <p class="product-name">iPhone 6</p>
                                <h3 class="product-price">$ 39.95</h3>
                            </div>
                          <div class="large-2 small-12 left">
                            <div class="free-shipping-need-help text-right">
                                <a href="#">free shipping need help?</a>
                              </div>
                             </div>
                          </div>
                          <!-- your design close from here -->

                        </section>