<section>
<div class="xskin-store-page-slider">
  <div class="row">
    <div class="medium-12 columns">
    <div class="xskin-slider">
      <div class="xskin-slide">
      <%=image_tag"store-slider-image.jpg" %>
      </div>

      <div class="xskin-slide-caption">
        <div class="caption">
          <div class="make-your-own-skin">
            <div class="slide-cap">
              <h2>iPhone 6</h2>
              <a class="button" href="#">shop now</a>
            </div>
          </div>
        </div>
      </div>
      <!-- slide caption close from here -->
    </div>
  </div>
  </div>
  </div>
  <!-- store page slider close from here -->
</section>
<section>
  <div class="row">
  <div class="xskin-products-store">
    <div class="large-6 left no-margin">
      <div class="xskin-product-item">
        <h3>COLLECTION</h3>
        <div class="medium-6 left small-12">
          <div class="iphone-6">
            <%= image_tag"popular-item-1.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag"zoom.png" %>              
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->

          <div class="medium-6 left small-12">
          <div class="iphone-6">
            <%=image_tag"popular-item-2.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag"zoom.png" %>              
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
                <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->


          <div class="medium-6 left small-12">
          <div class="iphone-6">
            <%= image_tag"popular-item-2.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag"zoom.png" %>              
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
                <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->

          <div class="medium-6 left small-12">
          <div class="iphone-6">
            <%= image_tag "popular-item-1.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%= image_tag"zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
                <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->


          <div class="clearfix"></div>
      </div>
    </div>
    <!-- popular items close from here -->


    <div class="large-6 left no-margin">
      <div class="xskin-product-item">
        <h3>CATEGORIES</h3>
        <div class="medium-6 left small-12">
          <div class="iphone-6">
            <%= image_tag"popular-item-1.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->

          <div class="medium-6 left small-12">
          <div class="iphone-6">
        <%= image_tag"popular-item-1.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->

          <div class="medium-6 left small-12">
          <div class="iphone-6">
        <%= image_tag"popular-item-1.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->

          <div class="medium-6 left small-12">
          <div class="iphone-6">
        <%= image_tag"popular-item-2.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
                <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->


          <div class="clearfix"></div>
      </div>
    </div>
    <!-- popular items close from here -->


    


    <div class="clearfix"></div>
  </div>
  <!-- product store close from here -->

  <div class="xskin-products-store">
    <div class="large-6 left no-margin">
      <div class="xskin-product-item">
        <h3>FEATURED ARTIST</h3>
        <div class="medium-6 left small-12">
          <div class="iphone-6">
        <%= image_tag"popular-item-1.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->

          <div class="medium-6 left small-12">
          <div class="iphone-6">
        <%= image_tag"popular-item-2.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->


          <div class="medium-6 left small-12">
          <div class="iphone-6">
        <%= image_tag"popular-item-2.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->

          <div class="medium-6 left small-12">
          <div class="iphone-6">
        <%= image_tag"popular-item-1.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->


          <div class="clearfix"></div>
      </div>
    </div>
    <!-- popular items close from here -->


    <div class="large-6 left no-margin">
      <div class="xskin-product-item">
        <h3>PRODUCTS</h3>
        <div class="medium-6 left small-12">
          <div class="iphone-6">
        <%= image_tag"popular-item-1.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->

          <div class="medium-6 left small-12">
          <div class="iphone-6">
        <%= image_tag"popular-item-1.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->

          <div class="medium-6 left small-12">
          <div class="iphone-6">
        <%= image_tag"popular-item-1.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->

          <div class="medium-6 left small-12">
          <div class="iphone-6">
        <%= image_tag"popular-item-2.jpg" %>
        <div class="masking smooth">
          <div class="xskin-add-to-cart">
            <div class="add-to-cart">
            <a href="#"><span class="smooth cart">
              <%=image_tag "zoom.png" %>
              </span></a>
              <a href="#"><span class="smooth cart your-cart">
              <%= image_tag"add-to-cart.png" %>
              </span></a>
            </div>
          </div>
        </div>
      </div>
        </div>
          <!-- popular item close from here -->


          <div class="clearfix"></div>
      </div>
    </div>
    <!-- popular items close from here -->
    <div class="clearfix"></div>
  </div>
  <!-- product store close from here -->
  </div>
</section>