<header>
    <div class="row">
      <div class="xskin-login text-right">
        <ul class="xskin-login-language">
          <li class="hide-for-small-only"><a data-reveal-id="xskin-currencyModal" href="#"><i class="fa fa-briefcase"></i>
          <% if cookies[:currency] %>
            <%= cookies[:currency] %>
          <% else %>
          CAD ($)
          <% end %>
          </a></li>
      <% if user_signed_in? %>
      <li class="login last">
            <%=link_to"MyAccount",edit_user_registration_path %>
            </li>
            <li class="login last">
            <%=link_to"Logout",destroy_user_session_path,:method=>"delete"  %>
            </li>
            <li class="login last">
            <%=link_to"Cart","javascript:void(0);"  %>
            </li>
      <% else %>      
          <li class="login last">
          <%=link_to"LOGIN",new_user_session_path, :title=>"Login to start"  %>
          </li>
      <% end %>            
          </ul>
        </div>

        <div class="xskin-menu-with-logo">
            <div class="large-4 medium-4 columns">
            <div class="xskin-logo">
            <%= link_to image_tag('Xskin-logo.png'), demo_path,:class =>"logo left",:alt=>"Skin" ,:title=>"XSkin"  %>
             
              </div>
              <div class="show-for-small-only mobile-search">
                <input type="submit" value="Send" />
              </div>
            </div>
            <!-- Xskin-logo close from here -->

            <!-- Search area for only mobile -->
           
          <div class="large-8 medium-8 columns hide-for-small-only">
            <ul class="xskin-menu">
              <li><%= link_to"MAKE YOUR CASE",make_path,:class => active_class?(make_path) %></li>
              <li><%= link_to"STORE",store_path,:class => active_class?(store_path) %>
                <ul class="sub-menu smooth">
                      <li>
                        <ul class="xskin-submenu">
                        <span class="menu-title">COLLECTION</span>
                          <li><a href="#">All Collections</a></li>
                          <li><a href="#">Mother of Pearl</a></li>
                          <li><a href="#">Top 100 Designs</a></li>
                          <li><a href="#">Casetify Band</a></li>
                          <li><a href="#">Summer Vibes</a></li>
                          <li><a href="#">Macbook Sleeve</a></li>
                          <li><a href="#">Metaluxe</a></li>
                        </ul>
                      </li>
                      <!-- collection submenu close from here -->
                      <li>
                        <ul class="xskin-submenu">
                        <span class="menu-title">categories</span>
                          <li><a href="#">Hex</a></li>
                          <li><a href="#">Sprayground</a></li>
                          <li><a href="#">PKG</a></li>
                          <li><a href="#">Poler Stuff</a></li>
                          <li><a href="#">Agent 18</a></li>
                          <li><a href="#">Otter box</a></li>
                          <li><a href="#">Life proof</a></li>
                        </ul>
                      </li>
                      <li>
                        <ul class="xskin-submenu">
                        <span class="menu-title"></span>
                          <li><a href="#">Casemate</a></li>
                          <li><a href="#">UAG</a></li>
                          <li><a href="#">Evutec</a></li>
                          <li><a href="#">Jason Markk</a></li>
                        </ul>
                      </li>
                      <!-- categories submenu close from here -->

                      <li>
                        <ul class="xskin-submenu">
                        <span class="menu-title">featured artist</span>
                          <li><a href="#">Monika Strigel</a></li>
                          <li><a href="#">Girly Trend</a></li>
                          <li><a href="#">Girly Road</a></li>
                          <li><a href="#">Budi Kwan</a></li>
                          <li><a href="#">Eskayel</a></li>
                        </ul>
                      </li>
                      <!-- featured artist submenu close from here -->

                      <li>
                        <ul class="xskin-submenu">
                        <span class="menu-title">products</span>
                          <li><a href="#">Gift Card</a></li>
                          <li><a href="#">Selfie Stick</a></li>
                          <li><a href="#">Muku MacroWide</a></li>
                          <li><a href="#">Selfie Pack</a></li>
                        </ul>
                      </li>
                      <!-- products submenu close from here -->

                    </ul>
                  
              </li>
              <li><%= link_to"iPHONE6",iphone6_path,:class => active_class?(iphone6_path) %></li>
              <li><%= link_to"APPLE WATCH",apple_watch_path,:class => active_class?(apple_watch_path) %></li>
              <li class="xskin-search"><input type="submit" class="search_content" value="Send" /></li>
                </ul>
                </div>
                <!-- Xskin menu for destop close from here -->
                

                <nav class="tab-bar show-for-small-only">
                  <section class="left-small">
                    <a href="#" class="left-off-canvas-toggle menu-icon" aria-expanded="false"><span></span></a>
                    </section>
                      <section class="right tab-bar-section">
                        <h1 class="title">Menu</h1>
                      </section>
                      </nav>

                         </div>
                        <aside class="left-off-canvas-menu">
                          <ul class="off-canvas-list">
                            <li><label>Menu</label></li>
                            <li><a href="make-your-case.html">MAKE YOUR CASE</a></li>
                            <li><a href="#">STORE</a></li>
                            <li><a href="#">iPHONE6</a></li>
                            <li><a href="#">APPLE WATCH</a></li>
                          </ul>
                        </aside>

                        <!-- Search area for only mobile -->
                      <div class="xskin-mobile-search">
                          <div class="enter-keywords">
                          <input type="text" placeholder="Search Here" autofill="true" />
                          </div>
                          <div class="press-enter mobile-search">
                            <input type="submit" value="Send" />
                          </div>
                          <div class="xskin-cross-search-item">
                            <%= image_tag("close.png", class: "close-search") %>
                             </div>
                        </div>
                        <!-- Search area for only mobile close from here -->

                        </div>
                      <!-- row close from here -->
                        </header>
<%=render "layouts/currency" %>